.AboutMe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.AboutMeTextBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 600px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: all 0.35s ease-in-out;
    
}

.AboutMeTextBox:hover {
    width: 625px;
    height: 425px;
    border: 2px solid aquamarine;
}

.AboutMeText {
    z-index: 2;
}