@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

span {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  font-size: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(37, 37, 37);
}
