.LinksBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 600px;
    background-color: #1c1c1c;
    border-radius: 20px;
    margin-top: -60px;
    z-index: 2;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
    padding: 60px;
}
  
li img {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
  
li img:hover {
    transform: scale(1.15);
    cursor: pointer;
}

@media (max-width: 1100px) {
    .LinksBox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 300px;
        background-color: #1c1c1c;
        border-radius: 20px;
        margin-top: -60px;
        z-index: 2;
        overflow: hidden;
    }

    li {
        float: left;
        padding: 10px;
    }
}